@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Indie+Flower&family=Rowdies&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

.title {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.difficulty1 {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    width: 200px;
}
.difficulty2 {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    width: 200px;
}
.difficulty3 {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    width: 200px;
}